.app {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  &__title {
    text-align: center;
  }
}

.add-form {
  text-align: right;
  margin-right: 5%;
  margin-block: 5%;
}

.search-form {
  &__input,
  &__btn {
    width: 30%;
    margin: 0 auto;
    display: block;
  }
}

.task {
  margin-top: 2%;
  // text-align: center;
}
